* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: lavender;
}
.profile-card {
    width: 360px;
    margin: 70px auto;
    padding: 25px;
    background: white;
    border: 2px solid purple;
    border-radius: 20px;
    text-align: center;
}

.profile-card h2 {
    margin-bottom: 15px;
    color: purple;
}

.profile-card .name {
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: bold;
}

.profile-card .info {
    margin-bottom: 25px;
    color: dimgray;
    font-size: 16px;
}

.profile-card button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: purple;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.profile-card button:hover {
    background: darkviolet;
}
